<div class="admin-navbar">
  <h2>Admin Panel</h2>
  <div class="admin-menu">
    <a href="/admin">Dashboard</a>
    <a href="/admin/pendaftaran">Pendaftaran</a>
    <a href="/admin/users">Users</a>
    <a href="/admin/organisasi">organisasi</a>
    <a href="/admin/kegiatan">kegiatan</a>
    <a href="/logout">Logout</a>
  </div>
</div>